<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,344}</string>
                <key>spriteSourceSize</key>
                <string>{750,344}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{1,641},{30,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_buff_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{208,194}</string>
                <key>spriteSourceSize</key>
                <string>{214,198}</string>
                <key>textureRect</key>
                <string>{{420,347},{208,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_buff_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{148,176}</string>
                <key>spriteSourceSize</key>
                <string>{154,176}</string>
                <key>textureRect</key>
                <string>{{420,543},{148,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,417}</string>
                <key>spriteSourceSize</key>
                <string>{292,417}</string>
                <key>textureRect</key>
                <string>{{1,347},{292,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_or.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,108}</string>
                <key>spriteSourceSize</key>
                <string>{169,108}</string>
                <key>textureRect</key>
                <string>{{630,347},{169,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>courier.png</string>
            <key>size</key>
            <string>{752,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b107a31c5f0fd1a11ccc0ca08bb47d4e:6793f21b90828d1523e77784ffc579df:aa987f3cc551b28aa9542191100786c3$</string>
            <key>textureFileName</key>
            <string>courier.png</string>
        </dict>
    </dict>
</plist>
