<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuanghu_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,289}</string>
                <key>spriteSourceSize</key>
                <string>{768,289}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diban_0816.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,182}</string>
                <key>spriteSourceSize</key>
                <string>{750,182}</string>
                <key>textureRect</key>
                <string>{{1,292},{750,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paizhuo_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,125}</string>
                <key>spriteSourceSize</key>
                <string>{346,125}</string>
                <key>textureRect</key>
                <string>{{1,580},{346,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianceng_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,102}</string>
                <key>spriteSourceSize</key>
                <string>{631,102}</string>
                <key>textureRect</key>
                <string>{{1,476},{631,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>restaurant.png</string>
            <key>size</key>
            <string>{770,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91b5206dc6b5deac2bf7e480e22d74f7:0ce97086783c52d00138a51f4f13383b:6bb3c5339c766773f1ba932e2d322180$</string>
            <key>textureFileName</key>
            <string>restaurant.png</string>
        </dict>
    </dict>
</plist>
