<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hallTopMenu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,161}</string>
                <key>spriteSourceSize</key>
                <string>{61,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgHead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,75}</string>
                <key>spriteSourceSize</key>
                <string>{80,75}</string>
                <key>textureRect</key>
                <string>{{168,188},{80,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgHeadMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{64,98},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tubiao03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,94}</string>
                <key>spriteSourceSize</key>
                <string>{79,94}</string>
                <key>textureRect</key>
                <string>{{1,164},{79,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tubiao04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,78}</string>
                <key>spriteSourceSize</key>
                <string>{85,78}</string>
                <key>textureRect</key>
                <string>{{168,101},{85,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tubiao04png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{64,1},{93,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tubiao05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{159,1},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tubiao06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{82,164},{88,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenzi03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,33}</string>
                <key>spriteSourceSize</key>
                <string>{55,33}</string>
                <key>textureRect</key>
                <string>{{116,265},{55,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,34}</string>
                <key>spriteSourceSize</key>
                <string>{55,34}</string>
                <key>textureRect</key>
                <string>{{59,265},{55,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,33}</string>
                <key>spriteSourceSize</key>
                <string>{55,33}</string>
                <key>textureRect</key>
                <string>{{173,265},{55,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,34}</string>
                <key>spriteSourceSize</key>
                <string>{56,34}</string>
                <key>textureRect</key>
                <string>{{1,265},{56,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,32}</string>
                <key>textureRect</key>
                <string>{{134,101},{54,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{249,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d618c04bda601ef30f61d5f42bec696f:e035331952fae3c8a8c7bf8e1ba44cad:333c9ff079a5b8ddfb0c61408e972979$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
