<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,71}</string>
                <key>spriteSourceSize</key>
                <string>{98,71}</string>
                <key>textureRect</key>
                <string>{{1,1627},{98,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{46,56}</string>
                <key>textureRect</key>
                <string>{{661,1679},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgBg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{602,1679},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgBg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgBg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{532,1679},{64,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_currency.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,50}</string>
                <key>spriteSourceSize</key>
                <string>{214,50}</string>
                <key>textureRect</key>
                <string>{{532,1627},{214,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,79}</string>
                <key>spriteSourceSize</key>
                <string>{400,79}</string>
                <key>textureRect</key>
                <string>{{74,1627},{400,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiehuanzuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{54,74}</string>
                <key>textureRect</key>
                <string>{{476,1627},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{752,1744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a4202d693cc610e858039a2cb4d85c8:50bf3711382301b50085246c5d7d2f2d:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
