<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,355}</string>
                <key>spriteSourceSize</key>
                <string>{752,355}</string>
                <key>textureRect</key>
                <string>{{1,1},{752,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,43}</string>
                <key>textureRect</key>
                <string>{{753,358},{42,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,182}</string>
                <key>spriteSourceSize</key>
                <string>{750,182}</string>
                <key>textureRect</key>
                <string>{{1,358},{750,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,54}</string>
                <key>spriteSourceSize</key>
                <string>{750,54}</string>
                <key>textureRect</key>
                <string>{{1,542},{750,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rooftop.png</string>
            <key>size</key>
            <string>{795,597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d3a040ae7b9890ded995cdda6069ef8:7fa28efda2a93d133e1a9c2c74e2cbec:348238f7b3cc4ae2e6279bf0f615d69c$</string>
            <key>textureFileName</key>
            <string>rooftop.png</string>
        </dict>
    </dict>
</plist>
