<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,308}</string>
                <key>spriteSourceSize</key>
                <string>{750,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,182}</string>
                <key>spriteSourceSize</key>
                <string>{750,182}</string>
                <key>textureRect</key>
                <string>{{1,311},{750,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>risk.png</string>
            <key>size</key>
            <string>{752,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29c7eeed2f7d5735e43e282b7e5262fd:febee7673bd03b1f47c7e29a31177efe:a67d4a9f25b158acc8fe629a17e61c39$</string>
            <key>textureFileName</key>
            <string>risk.png</string>
        </dict>
    </dict>
</plist>
