<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>offLine_bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,417}</string>
                <key>spriteSourceSize</key>
                <string>{676,417}</string>
                <key>textureRect</key>
                <string>{{1,1},{676,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offLine_btn_video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,129}</string>
                <key>spriteSourceSize</key>
                <string>{461,129}</string>
                <key>textureRect</key>
                <string>{{721,348},{461,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offLine_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,345}</string>
                <key>spriteSourceSize</key>
                <string>{750,345}</string>
                <key>textureRect</key>
                <string>{{679,1},{750,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,63}</string>
                <key>spriteSourceSize</key>
                <string>{353,63}</string>
                <key>textureRect</key>
                <string>{{1,420},{353,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>video_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,55}</string>
                <key>spriteSourceSize</key>
                <string>{363,55}</string>
                <key>textureRect</key>
                <string>{{356,420},{363,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>offLine.png</string>
            <key>size</key>
            <string>{1430,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffc5dc6b68fbe4ac1f6eab0bae008fdb:05b9f9a7f62cf9159dd1798196f615cd:07a4f85aa23cbd59c21838d4d3b97b0e$</string>
            <key>textureFileName</key>
            <string>offLine.png</string>
        </dict>
    </dict>
</plist>
