<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,274}</string>
                <key>spriteSourceSize</key>
                <string>{750,274}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,20}</string>
                <key>spriteSourceSize</key>
                <string>{66,20}</string>
                <key>textureRect</key>
                <string>{{510,522},{66,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,15}</string>
                <key>spriteSourceSize</key>
                <string>{83,15}</string>
                <key>textureRect</key>
                <string>{{493,522},{83,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>biaoqing_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,15}</string>
                <key>spriteSourceSize</key>
                <string>{59,15}</string>
                <key>textureRect</key>
                <string>{{510,590},{59,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>biaoqing_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,4}</string>
                <key>spriteSourceSize</key>
                <string>{59,4}</string>
                <key>textureRect</key>
                <string>{{493,607},{59,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dingshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,98}</string>
                <key>spriteSourceSize</key>
                <string>{490,98}</string>
                <key>textureRect</key>
                <string>{{1,522},{490,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,182}</string>
                <key>spriteSourceSize</key>
                <string>{750,182}</string>
                <key>textureRect</key>
                <string>{{1,277},{750,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imglight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,59}</string>
                <key>spriteSourceSize</key>
                <string>{750,59}</string>
                <key>textureRect</key>
                <string>{{1,461},{750,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jijia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,55}</string>
                <key>spriteSourceSize</key>
                <string>{110,55}</string>
                <key>textureRect</key>
                <string>{{532,522},{110,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{752,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1162f5877ae75a364d372c39d7e0b6:5df7dc3ceb5bf66348a0d970a2dee76e:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
