<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,240}</string>
                <key>spriteSourceSize</key>
                <string>{750,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,117}</string>
                <key>spriteSourceSize</key>
                <string>{68,117}</string>
                <key>textureRect</key>
                <string>{{1505,168},{68,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,74}</string>
                <key>spriteSourceSize</key>
                <string>{41,74}</string>
                <key>textureRect</key>
                <string>{{1,243},{41,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,120}</string>
                <key>spriteSourceSize</key>
                <string>{750,120}</string>
                <key>textureRect</key>
                <string>{{753,185},{750,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgfloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,182}</string>
                <key>spriteSourceSize</key>
                <string>{750,182}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imglight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,165}</string>
                <key>spriteSourceSize</key>
                <string>{332,165}</string>
                <key>textureRect</key>
                <string>{{1505,1},{332,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bath.png</string>
            <key>size</key>
            <string>{1838,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c42fcd5140ae814c94c79e94c64fea05:76790934b1febd4c3e171e091f488131:6b122f0fb44e6a8e5a8a33079734059e$</string>
            <key>textureFileName</key>
            <string>bath.png</string>
        </dict>
    </dict>
</plist>
