<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hengtiao_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,131}</string>
                <key>spriteSourceSize</key>
                <string>{750,131}</string>
                <key>textureRect</key>
                <string>{{137,1},{750,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hongxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,18}</string>
                <key>spriteSourceSize</key>
                <string>{85,18}</string>
                <key>textureRect</key>
                <string>{{398,538},{85,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imgPro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,25}</string>
                <key>spriteSourceSize</key>
                <string>{364,25}</string>
                <key>textureRect</key>
                <string>{{270,423},{364,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{398,625},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{223,753},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,16}</string>
                <key>textureRect</key>
                <string>{{297,758},{20,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgbtnlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,151}</string>
                <key>spriteSourceSize</key>
                <string>{209,151}</string>
                <key>textureRect</key>
                <string>{{270,1},{209,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>imghead_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,113}</string>
                <key>spriteSourceSize</key>
                <string>{119,113}</string>
                <key>textureRect</key>
                <string>{{297,423},{119,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imghengtiao_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,134}</string>
                <key>spriteSourceSize</key>
                <string>{750,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,18}</string>
                <key>spriteSourceSize</key>
                <string>{85,18}</string>
                <key>textureRect</key>
                <string>{{203,753},{85,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,18}</string>
                <key>spriteSourceSize</key>
                <string>{85,18}</string>
                <key>textureRect</key>
                <string>{{297,738},{85,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{1,753},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{297,538},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{102,753},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,98}</string>
                <key>spriteSourceSize</key>
                <string>{99,98}</string>
                <key>textureRect</key>
                <string>{{297,638},{99,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhengchang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,151}</string>
                <key>spriteSourceSize</key>
                <string>{209,151}</string>
                <key>textureRect</key>
                <string>{{270,212},{209,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>function.png</string>
            <key>size</key>
            <string>{422,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cbfb47c1d1635f6ef3ccdc98e379804:cf04bfc4875092590327f5155e864be8:a35a4a3d540cdfccdbd6d05c31224e0b$</string>
            <key>textureFileName</key>
            <string>function.png</string>
        </dict>
    </dict>
</plist>
