<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,15}</string>
                <key>spriteSourceSize</key>
                <string>{103,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueBlood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,15}</string>
                <key>spriteSourceSize</key>
                <string>{103,15}</string>
                <key>textureRect</key>
                <string>{{1,18},{101,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redBlood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,15}</string>
                <key>spriteSourceSize</key>
                <string>{103,15}</string>
                <key>textureRect</key>
                <string>{{1,35},{101,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{105,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:015896b8eb3eea39c72050946f491414:c24c6ba8b4fe0bffe9aa2b5a469db3ef:aefc46271a528250973e047b84db9856$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
