<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{745,406},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{76,56}</string>
                <key>textureRect</key>
                <string>{{753,283},{76,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{76,56}</string>
                <key>textureRect</key>
                <string>{{753,341},{76,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_big_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,65}</string>
                <key>spriteSourceSize</key>
                <string>{167,65}</string>
                <key>textureRect</key>
                <string>{{522,406},{167,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_big_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,65}</string>
                <key>spriteSourceSize</key>
                <string>{167,65}</string>
                <key>textureRect</key>
                <string>{{753,1},{167,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,110}</string>
                <key>spriteSourceSize</key>
                <string>{370,110}</string>
                <key>textureRect</key>
                <string>{{1,473},{370,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,403}</string>
                <key>spriteSourceSize</key>
                <string>{750,403}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,110}</string>
                <key>spriteSourceSize</key>
                <string>{370,110}</string>
                <key>textureRect</key>
                <string>{{373,473},{370,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{519,65}</string>
                <key>spriteSourceSize</key>
                <string>{519,65}</string>
                <key>textureRect</key>
                <string>{{1,406},{519,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,91}</string>
                <key>spriteSourceSize</key>
                <string>{111,91}</string>
                <key>textureRect</key>
                <string>{{753,170},{111,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>raid.png</string>
            <key>size</key>
            <string>{849,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aead69509a2dbaa1f09eb8882a170f8:982623d1b0120da6784a72a1c75096cd:0ec6275110c145d882ffabbb864de337$</string>
            <key>textureFileName</key>
            <string>raid.png</string>
        </dict>
    </dict>
</plist>
