<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,105}</string>
                <key>spriteSourceSize</key>
                <string>{62,105}</string>
                <key>textureRect</key>
                <string>{{434,767},{62,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,123}</string>
                <key>spriteSourceSize</key>
                <string>{80,123}</string>
                <key>textureRect</key>
                <string>{{498,767},{80,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,214}</string>
                <key>spriteSourceSize</key>
                <string>{133,214}</string>
                <key>textureRect</key>
                <string>{{218,752},{133,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,215}</string>
                <key>spriteSourceSize</key>
                <string>{128,215}</string>
                <key>textureRect</key>
                <string>{{1,753},{128,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bolimen_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,277}</string>
                <key>spriteSourceSize</key>
                <string>{264,277}</string>
                <key>textureRect</key>
                <string>{{434,488},{264,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bolimen_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,277}</string>
                <key>spriteSourceSize</key>
                <string>{485,277}</string>
                <key>textureRect</key>
                <string>{{422,1},{485,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>malu_0614.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,182}</string>
                <key>spriteSourceSize</key>
                <string>{750,182}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{749,235}</string>
                <key>spriteSourceSize</key>
                <string>{749,235}</string>
                <key>textureRect</key>
                <string>{{185,1},{749,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>supermarket.png</string>
            <key>size</key>
            <string>{700,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5777b79197a0d211739a99b0a621cef:43d1c36d100a7c3fb519f1783a3c1f13:3c2842c3c875fcc29cb74ba112c3b3f4$</string>
            <key>textureFileName</key>
            <string>supermarket.png</string>
        </dict>
    </dict>
</plist>
